{% extends 'base.html.twig' %}
{% block title %}Etape 2{% endblock %}

{% block meta %}
    <!-- Meta Page -->
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}

    <div class="navTopReturn">
        <a href="{{path('createMarathonStep1') }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.04 17.496"><defs><style>.a21{fill:#fff;}</style></defs><g transform="translate(0.408 0)"><path class="a21" d="M8.071,17.056-.4,8.582a.014.014,0,0,1,0-.01.014.014,0,0,1,0-.01L1.707,6.449h0L7.718.439A1.5,1.5,0,0,1,9.839,2.561l-6.01,6.01,6.364,6.364a1.5,1.5,0,1,1-2.121,2.121Z"/></g></svg>
        </a>
        <h1>Créer un marathon</h1>
    </div>

    <div class="cale"></div>
<div class="background">
    <div class="conteneur-addFilm">
    <br>
    <br>
    <br>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.019 19.019"><defs><style>.a15{fill:none;stroke:black;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g transform="translate(1 1)"><circle class="a15" cx="6.5" cy="6.5" r="6.5"/><path class="a15" d="M.5.5,7.019,7.019" transform="translate(11 10)"/></g></svg>
    <br>
    <br>
    <br>
        <hr>

        <div class="filmPicture filmPicture1 col-5">
            <p>Jurassic Park World</p>
                <div class="blocAddFilm">
                    <svg class="svg11" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a72{fill:#fbb03b;}</style></defs><path class="a72" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>
                </div>
        </div>

        <div class="filmPicture filmPicture2 col-5">
            <p>Jurassic Adventure</p>
                <div class="blocAddFilm">
                <svg class="svg11" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a72{fill:#fbb03b;}</style></defs><path class="a72" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>
                </div>
        </div>
    </div>

<div class="col-12 blocListFilm">

        <div class="blocFilm col-12">
            <div class="imgFilm imgFilm1">
            </div>
                <div class="blocInfoFilm">
                    <h2>Jurassic Park</h2>
                        <p>2H04</p>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 27.226 21.229"><defs><style>.a{fill:none;}.b{clip-path:url(#a);}.c{fill:url(#b);}</style><clipPath id="a"><rect class="a" width="27.226" height="21.229"/></clipPath><linearGradient id="b" x1="0.864" y1="0.781" x2="0.103" y2="0.146" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#e64545"/><stop offset="1" stop-color="#fbb03b"/></linearGradient></defs><g class="b" transform="translate(0 0)"><g transform="translate(-0.059 -0.634)"><rect class="c" width="14.63" height="4.233" transform="translate(3.155 7.991) rotate(47)"/><rect class="c" width="24.246" height="5.127" transform="translate(7 18.367) rotate(-47)"/></g></g></svg>            </div>
                </div>

        <div class="blocFilm col-12">
            <div class="imgFilm imgFilm2">
            </div>
                <div class="blocInfoFilm">
                    <h2>Jurassic Park 2</h2>
                        <p>2H04</p>
                <svg class="inputAddFilm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a72{fill:#fbb03b;}</style></defs><path class="a72" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>
                </div>
            </div>

        <div class="blocFilm col-12">
            <div class="imgFilm imgFilm3">
            </div>
                <div class="blocInfoFilm">
                    <h2>Jurassic Park 3</h2>
                        <p>2H04</p>
                <svg class="inputAddFilm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a72{fill:#fbb03b;}</style></defs><path class="a72" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>
                </div>
                </div>

        <div class="blocFilm col-12">
            <div class="imgFilm imgFilm4">
            </div>
                <div class="blocInfoFilm">
                    <h2>Jurassic Park 4</h2>
                        <p>2H04</p>
                <svg class="inputAddFilm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a72{fill:#fbb03b;}</style></defs><path class="a72" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>
                </div>
                </div>

        <div class="blocFilm col-12">
            <div class="imgFilm imgFilm5">
            </div>
                <div class="blocInfoFilm">
                    <h2>Jurassic Park World</h2>
                        <p>2H04</p>
                <svg class="inputAddFilm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a72{fill:#fbb03b;}</style></defs><path class="a72" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>
                </div>
</div>
<br>
<br>
<br>
<br>
<br>
        <a href="{{path("createMarathonStep3")}}">
            <button class="step2">Terminé</button>
        </a>
        </div>
    <!-- Body Page -->
{% endblock %}

{% block javascripts %}
    <!-- Js Page -->
    <script>
        $('.inputAddFilm').click(function(){
            console.log(this);
            var parent = $(this).parent();
            console.log(parent);
            this.remove();

            parent.append('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 27.226 21.229"><defs><style>.a{fill:none;}.b{clip-path:url(#a);}.c{fill:url(#b);}</style><clipPath id="a"><rect class="a" width="27.226" height="21.229"/></clipPath><linearGradient id="b" x1="0.864" y1="0.781" x2="0.103" y2="0.146" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#e64545"/><stop offset="1" stop-color="#fbb03b"/></linearGradient></defs><g class="b" transform="translate(0 0)"><g transform="translate(-0.059 -0.634)"><rect class="c" width="14.63" height="4.233" transform="translate(3.155 7.991) rotate(47)"/><rect class="c" width="24.246" height="5.127" transform="translate(7 18.367) rotate(-47)"/></g></g></svg>')
        });
    </script>
{% endblock %}