{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block meta %}
    <!-- Meta Page -->
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
        <div class="navTopReturn">
        <a href="{{path('default') }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.04 17.496"><defs><style>.a48{fill:#fff;}</style></defs><g transform="translate(0.408 0)"><path class="a48" d="M8.071,17.056-.4,8.582a.014.014,0,0,1,0-.01.014.014,0,0,1,0-.01L1.707,6.449h0L7.718.439A1.5,1.5,0,0,1,9.839,2.561l-6.01,6.01,6.364,6.364a1.5,1.5,0,1,1-2.121,2.121Z"/></g></svg>
        </a>
        <h1>Avengers Chronologie</h1>
        <svg class="svg-14"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.242 17.421"><defs><style>.a{fill:#ffc255;}.b{fill:#f9a93c;}.c{fill:#f6963e;}.d{fill:#ef7141;}.e{fill:none;stroke:#ea5944;stroke-miterlimit:10;}</style></defs><g transform="translate(-134 -81.87)"><path class="a" d="M8.5,12.75l-5,2.627.954-5.563L.416,5.873,6,5.062,8.5,0,11,5.062l5.586.812-4.042,3.94.954,5.563Z" transform="translate(133.584 83)"/><path class="b" d="M8.5,12.75l-5,2.627.954-5.563L.416,5.873,6,5.062,8.5,0,11,5.062l5.586.812-4.042,3.94.954,5.563Z" transform="translate(156.584 83)"/><path class="c" d="M8.5,12.75l-5,2.627.954-5.563L.416,5.873,6,5.062,8.5,0,11,5.062l5.586.812-4.042,3.94.954,5.563Z" transform="translate(179.584 83)"/><path class="d" d="M8.5,12.75l-5,2.627.954-5.563L.416,5.873,6,5.062,8.5,0,11,5.062l5.586.812-4.042,3.94.954,5.563Z" transform="translate(202.584 83)"/><path class="e" d="M8.5,12.75l-5,2.627.954-5.563L.416,5.873,6,5.062,8.5,0,11,5.062l5.586.812-4.042,3.94.954,5.563Z" transform="translate(225.584 83)"/></g></svg>
    </div>

    <div class="cale"></div>

    <div class="pictureMara ficheMara"></div>
    <div class="blocTime">
        <p>17 films - 28H 47MIN</p>
    </div>
    <div class="blocAjoutFilm"><p class="ajoutMara">Ajouter à mes marathons</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a{fill:#fbb03b;}</style></defs><path class="a" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>
    </div>

    <div class="blocFilm col-12">
        <div class="imgFilm"></div>
        <div class="blocInfoFilm">
            <h2>Captain America : First Avengers</h2>
            <p>2H04</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20"><defs><style>.a98{fill:#4a4a4a;}</style></defs><g transform="translate(0)"><path class="a98" d="M10.934,20h0L3.27,13.2A9.673,9.673,0,0,1,.224,8.23,6.024,6.024,0,0,1,.037,5.963C.357,2.508,2.861,0,5.99,0a5.746,5.746,0,0,1,4.949,2.857A5.908,5.908,0,0,1,16.01,0c3.128,0,5.632,2.508,5.954,5.963a6.033,6.033,0,0,1-.187,2.266A9.681,9.681,0,0,1,18.73,13.2l-7.8,6.8ZM5.99.827C3.3.827,1.153,3.025.877,6.053l-.006.041A5.376,5.376,0,0,0,1.048,8.04a8.865,8.865,0,0,0,2.791,4.547l7.1,6.3,7.224-6.3A8.846,8.846,0,0,0,20.952,8.04a5.284,5.284,0,0,0,.177-1.946C20.849,3.043,18.7.828,16.01.828a5.113,5.113,0,0,0-4.684,3.109l-.39.9-.39-.9A4.957,4.957,0,0,0,5.99.827Z"/></g></svg>        </div>
    </div>
    <div class="blocFilm col-12">
        <div class="imgFilm"></div>
        <div class="blocInfoFilm">
            <h2>Captain America : First Avengers</h2>
            <p>2H04</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20"><defs><style>.a98{fill:#4a4a4a;}</style></defs><g transform="translate(0)"><path class="a98" d="M10.934,20h0L3.27,13.2A9.673,9.673,0,0,1,.224,8.23,6.024,6.024,0,0,1,.037,5.963C.357,2.508,2.861,0,5.99,0a5.746,5.746,0,0,1,4.949,2.857A5.908,5.908,0,0,1,16.01,0c3.128,0,5.632,2.508,5.954,5.963a6.033,6.033,0,0,1-.187,2.266A9.681,9.681,0,0,1,18.73,13.2l-7.8,6.8ZM5.99.827C3.3.827,1.153,3.025.877,6.053l-.006.041A5.376,5.376,0,0,0,1.048,8.04a8.865,8.865,0,0,0,2.791,4.547l7.1,6.3,7.224-6.3A8.846,8.846,0,0,0,20.952,8.04a5.284,5.284,0,0,0,.177-1.946C20.849,3.043,18.7.828,16.01.828a5.113,5.113,0,0,0-4.684,3.109l-.39.9-.39-.9A4.957,4.957,0,0,0,5.99.827Z"/></g></svg>        </div>
    </div>
    <div class="blocFilm col-12">
        <div class="imgFilm"></div>
        <div class="blocInfoFilm">
            <h2>Captain America : First Avengers</h2>
            <p>2H04</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20"><defs><style>.a89{fill:#e64545;}</style></defs><g transform="translate(0)"><path class="a89" d="M10.934,20h0L3.27,13.2A9.673,9.673,0,0,1,.224,8.23,6.024,6.024,0,0,1,.037,5.963C.357,2.508,2.861,0,5.99,0a5.746,5.746,0,0,1,4.949,2.857A5.908,5.908,0,0,1,16.01,0c3.128,0,5.632,2.508,5.954,5.963a6.033,6.033,0,0,1-.187,2.266A9.681,9.681,0,0,1,18.73,13.2l-7.8,6.8ZM5.99.827C3.3.827,1.153,3.025.877,6.053l-.006.041A5.376,5.376,0,0,0,1.048,8.04a8.865,8.865,0,0,0,2.791,4.547l7.1,6.3,7.224-6.3A8.846,8.846,0,0,0,20.952,8.04a5.284,5.284,0,0,0,.177-1.946C20.849,3.043,18.7.828,16.01.828a5.113,5.113,0,0,0-4.684,3.109l-.39.9-.39-.9A4.957,4.957,0,0,0,5.99.827Z"/></g></svg>        </div>
    </div>
    <div class="blocFilm col-12">
        <div class="imgFilm"></div>
        <div class="blocInfoFilm">
            <h2>Captain America : First Avengers</h2>
            <p>2H04</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20"><defs><style>.a98{fill:#4a4a4a;}</style></defs><g transform="translate(0)"><path class="a98" d="M10.934,20h0L3.27,13.2A9.673,9.673,0,0,1,.224,8.23,6.024,6.024,0,0,1,.037,5.963C.357,2.508,2.861,0,5.99,0a5.746,5.746,0,0,1,4.949,2.857A5.908,5.908,0,0,1,16.01,0c3.128,0,5.632,2.508,5.954,5.963a6.033,6.033,0,0,1-.187,2.266A9.681,9.681,0,0,1,18.73,13.2l-7.8,6.8ZM5.99.827C3.3.827,1.153,3.025.877,6.053l-.006.041A5.376,5.376,0,0,0,1.048,8.04a8.865,8.865,0,0,0,2.791,4.547l7.1,6.3,7.224-6.3A8.846,8.846,0,0,0,20.952,8.04a5.284,5.284,0,0,0,.177-1.946C20.849,3.043,18.7.828,16.01.828a5.113,5.113,0,0,0-4.684,3.109l-.39.9-.39-.9A4.957,4.957,0,0,0,5.99.827Z"/></g></svg>        </div>
    </div>
        <div class="blocFilm col-12">
        <div class="imgFilm"></div>
        <div class="blocInfoFilm">
            <h2>Captain America : First Avengers</h2>
            <p>2H04</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20"><defs><style>.a98{fill:#4a4a4a;}</style></defs><g transform="translate(0)"><path class="a98" d="M10.934,20h0L3.27,13.2A9.673,9.673,0,0,1,.224,8.23,6.024,6.024,0,0,1,.037,5.963C.357,2.508,2.861,0,5.99,0a5.746,5.746,0,0,1,4.949,2.857A5.908,5.908,0,0,1,16.01,0c3.128,0,5.632,2.508,5.954,5.963a6.033,6.033,0,0,1-.187,2.266A9.681,9.681,0,0,1,18.73,13.2l-7.8,6.8ZM5.99.827C3.3.827,1.153,3.025.877,6.053l-.006.041A5.376,5.376,0,0,0,1.048,8.04a8.865,8.865,0,0,0,2.791,4.547l7.1,6.3,7.224-6.3A8.846,8.846,0,0,0,20.952,8.04a5.284,5.284,0,0,0,.177-1.946C20.849,3.043,18.7.828,16.01.828a5.113,5.113,0,0,0-4.684,3.109l-.39.9-.39-.9A4.957,4.957,0,0,0,5.99.827Z"/></g></svg>        </div>
    </div>
    <br>
    <br>
    <br>
        <a href="{{path("modificationFicheMarathon")}}">
            <button class="step2">Modifier</button>
        </a>
        <br>
        <br>
        <br>
        <br>
    
    <!-- Body Page -->
{% endblock %}

{% block javascripts %}
    <!-- Jss Page -->
{% endblock %}