{% extends 'base.html.twig' %}
{% block title %}Paramètres{% endblock %}

{% block meta %}
    <!-- Meta Page -->
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
        <div class="navTopReturn">
        <a href="{{path('createMarathon') }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.04 17.496"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(0.408 0)"><path class="a" d="M8.071,17.056-.4,8.582a.014.014,0,0,1,0-.01.014.014,0,0,1,0-.01L1.707,6.449h0L7.718.439A1.5,1.5,0,0,1,9.839,2.561l-6.01,6.01,6.364,6.364a1.5,1.5,0,1,1-2.121,2.121Z"/></g></svg>
        </a>
        <h1>Paramètres du marathons</h1>
        <a href="">
            <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(-329 -55)"><g transform="translate(329 55)"><path class="a" d="M13.6,25H11.4A1.542,1.542,0,0,1,9.87,23.71l-.292-1.754a9.946,9.946,0,0,1-1.65-.679L6.46,22.321a1.517,1.517,0,0,1-.893.287,1.535,1.535,0,0,1-1.092-.455L2.92,20.6a1.537,1.537,0,0,1-.167-1.99l1.029-1.431a9.654,9.654,0,0,1-.716-1.7l-1.776-.3A1.541,1.541,0,0,1,0,13.651v-2.2A1.541,1.541,0,0,1,1.29,9.928l1.734-.293a9.639,9.639,0,0,1,.695-1.707L2.674,6.46a1.543,1.543,0,0,1,.167-1.99L4.4,2.914A1.515,1.515,0,0,1,5.494,2.46a1.531,1.531,0,0,1,.9.287L7.828,3.781a9.688,9.688,0,0,1,1.7-.716l.3-1.776A1.541,1.541,0,0,1,11.354,0h2.2a1.541,1.541,0,0,1,1.525,1.29l.293,1.734a9.887,9.887,0,0,1,1.766.725l1.452-1.034a1.535,1.535,0,0,1,1.984.167l1.556,1.556a1.537,1.537,0,0,1,.167,1.99L21.261,7.876a9.943,9.943,0,0,1,.7,1.7l1.755.3A1.521,1.521,0,0,1,25,11.4v2.2a1.542,1.542,0,0,1-1.291,1.526l-1.754.292a9.916,9.916,0,0,1-.706,1.7l1.034,1.453a1.54,1.54,0,0,1-.167,1.989l-1.557,1.557a1.544,1.544,0,0,1-1.99.167L17.124,21.25a9.858,9.858,0,0,1-1.7.706l-.3,1.754A1.543,1.543,0,0,1,13.6,25ZM7.886,19.757a.734.734,0,0,1,.355.094,8.653,8.653,0,0,0,2.141.877.7.7,0,0,1,.517.564l.365,2.193a.137.137,0,0,0,.136.115h2.2a.135.135,0,0,0,.136-.115l.371-2.193a.692.692,0,0,1,.517-.564,8.335,8.335,0,0,0,2.188-.909.719.719,0,0,1,.362-.1.69.69,0,0,1,.406.13l1.812,1.291a.135.135,0,0,0,.079.026.132.132,0,0,0,.1-.042l1.556-1.556a.141.141,0,0,0,.015-.177l-1.29-1.818a.712.712,0,0,1-.031-.768,8.368,8.368,0,0,0,.909-2.188.7.7,0,0,1,.564-.517l2.193-.365A.135.135,0,0,0,23.6,13.6h.006V11.4a.134.134,0,0,0-.114-.135L21.3,10.894a.69.69,0,0,1-.563-.517,8.368,8.368,0,0,0-.909-2.188.7.7,0,0,1,.031-.768l1.29-1.813a.141.141,0,0,0-.015-.177L19.574,3.875a.141.141,0,0,0-.1-.042.157.157,0,0,0-.078.026l-1.8,1.3a.7.7,0,0,1-.408.13.711.711,0,0,1-.36-.1,8.474,8.474,0,0,0-2.24-.919.707.707,0,0,1-.522-.57L13.7,1.52a.136.136,0,0,0-.136-.115h-2.2a.135.135,0,0,0-.136.115l-.376,2.209a.715.715,0,0,1-.517.564,8.262,8.262,0,0,0-2.183.919.715.715,0,0,1-.773-.031L5.577,3.9A.124.124,0,0,0,5.5,3.87a.134.134,0,0,0-.1.041L3.844,5.468a.144.144,0,0,0-.016.178l1.3,1.828a.7.7,0,0,1,.037.762,8.31,8.31,0,0,0-.893,2.193.707.707,0,0,1-.57.522l-2.178.366a.134.134,0,0,0-.114.135v2.2a.135.135,0,0,0,.114.136l2.209.376a.718.718,0,0,1,.564.517,8.231,8.231,0,0,0,.919,2.182.715.715,0,0,1-.032.773L3.9,19.438a.141.141,0,0,0,.015.177l1.556,1.556a.141.141,0,0,0,.1.042.157.157,0,0,0,.078-.026l1.827-1.3A.689.689,0,0,1,7.886,19.757Z"/><path class="a" d="M5.5,11A5.5,5.5,0,1,1,11,5.5,5.506,5.506,0,0,1,5.5,11Zm0-9.563A4.063,4.063,0,1,0,9.563,5.5,4.067,4.067,0,0,0,5.5,1.437Z" transform="translate(7 7)"/></g></g></svg>
        </a>
    </div>

    <div class="cale"></div>

    <div class="backgroundWhite">
        <h1>Réglages</h1>
        <p>Autoriser les participants à modifier :</p>
        <p>Date et Heure <input type="radio"></p>
        <p>Listes des programmes<input type="radio"></p>
        <br><br>
        <p><b>Autoriser les participants à inviter des amis</b> <input type="radio"></p>
        <br><br>
        <p>Envoyer une notification aux participants :</p>
        <p>Lors de la modification<input type="radio"></p>
        <p>La veille <input type="radio"></p>
        <p>Deux heures avant<input type="radio"></p>
        <p>30 minutes avant <input type="radio"></p>
        <br>
        <br>
        <br>
        <p class="textOrange">Supprimer le marathon</p>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    <!-- Body Page -->
{% endblock %}

{% block javascripts %}
    <!-- Jss Page -->
{% endblock %}