{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block meta %}
    <!-- Meta Page -->
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
        <div class="navTopReturn">
        <a href="{{path('menu') }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.04 17.496"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(0.408 0)"><path class="a" d="M8.071,17.056-.4,8.582a.014.014,0,0,1,0-.01.014.014,0,0,1,0-.01L1.707,6.449h0L7.718.439A1.5,1.5,0,0,1,9.839,2.561l-6.01,6.01,6.364,6.364a1.5,1.5,0,1,1-2.121,2.121Z"/></g></svg>
        </a>
        <h1>Mes Marathons</h1>
    </div>

    <div class="cale"></div>

    <div class="conteneur-mesMara">
    
        <h1>Mes marathons à venir</h1>
            <br>
        <hr>

        <div class="cardMara card1 col-6">
            <p class="titleMara">Avengers Chronologie</p>
        </div>

        <svg class="svg-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a72{fill:#fbb03b;}</style></defs><path class="a72" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1>Mes marathons à venir</h1>
            <br>
        <hr>

        <br>

        <div class="cardMara card1 col-6">
            <p class="titleMara">Avengers Chronologie</p>
        </div>

        <div class="cardMara card1 col-6">
            <p class="titleMara">Avengers Chronologie</p>
        </div>

        <svg class="svg-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a72{fill:#fbb03b;}</style></defs><path class="a72" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>

    </div>
    <!-- Body Page -->
{% endblock %}

{% block javascripts %}
    <!-- Jss Page -->
{% endblock %}