{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block meta %}
    <!-- Meta Page -->
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
        <div class="navTopReturn">
        <a href="{{path('ficheMarathon') }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.04 17.496"><defs><style>.a48{fill:#fff;}</style></defs><g transform="translate(0.408 0)"><path class="a48" d="M8.071,17.056-.4,8.582a.014.014,0,0,1,0-.01.014.014,0,0,1,0-.01L1.707,6.449h0L7.718.439A1.5,1.5,0,0,1,9.839,2.561l-6.01,6.01,6.364,6.364a1.5,1.5,0,1,1-2.121,2.121Z"/></g></svg>
        </a>
        <h1>Avengers Chronologie</h1>
        <svg class="svg-14"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.242 17.421"><defs><style>.a{fill:#ffc255;}.b{fill:#f9a93c;}.c{fill:#f6963e;}.d{fill:#ef7141;}.e{fill:none;stroke:#ea5944;stroke-miterlimit:10;}</style></defs><g transform="translate(-134 -81.87)"><path class="a" d="M8.5,12.75l-5,2.627.954-5.563L.416,5.873,6,5.062,8.5,0,11,5.062l5.586.812-4.042,3.94.954,5.563Z" transform="translate(133.584 83)"/><path class="b" d="M8.5,12.75l-5,2.627.954-5.563L.416,5.873,6,5.062,8.5,0,11,5.062l5.586.812-4.042,3.94.954,5.563Z" transform="translate(156.584 83)"/><path class="c" d="M8.5,12.75l-5,2.627.954-5.563L.416,5.873,6,5.062,8.5,0,11,5.062l5.586.812-4.042,3.94.954,5.563Z" transform="translate(179.584 83)"/><path class="d" d="M8.5,12.75l-5,2.627.954-5.563L.416,5.873,6,5.062,8.5,0,11,5.062l5.586.812-4.042,3.94.954,5.563Z" transform="translate(202.584 83)"/><path class="e" d="M8.5,12.75l-5,2.627.954-5.563L.416,5.873,6,5.062,8.5,0,11,5.062l5.586.812-4.042,3.94.954,5.563Z" transform="translate(225.584 83)"/></g></svg>
    </div>

    <div class="cale"></div>

    <div class="pictureMara ficheMara"></div>
    <div class="blocTime">
        <p>17 films - 28H 47MIN</p>
    </div>
    <div class="blocAjoutFilm"><p class="ajoutMaraModif">Ajouter un film</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a{fill:#fbb03b;}</style></defs><path class="a" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>
    </div>

    <div class="blocFilm col-12">
        <div class="imgFilm"></div>
        <div class="blocInfoFilm">
            <h2>Captain America : First Avengers</h2>
            <p>2H04</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16"><defs><style>.a{fill:#d8d8d8;}</style></defs><circle class="a" cx="2" cy="2" r="2"/><circle class="a" cx="2" cy="2" r="2" transform="translate(0 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(0 12)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7 12)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14 12)"/></svg>
        <svg class="svg2"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.849 14.849"><defs><style>.a2{fill:red;}</style></defs><g transform="translate(7.778 -5.657) rotate(45)"><rect class="a2" width="18" height="3" rx="1.5" transform="translate(0 8)"/><rect class="a2" width="18" height="3" rx="1.5" transform="translate(10.5 0.5) rotate(90)"/></g></svg>
        </div>
    </div>

    <div class="blocFilm col-12">
        <div class="imgFilm"></div>
        <div class="blocInfoFilm">
            <h2>Captain America : First Avengers</h2>
            <p>2H04</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16"><defs><style>.a{fill:#d8d8d8;}</style></defs><circle class="a" cx="2" cy="2" r="2"/><circle class="a" cx="2" cy="2" r="2" transform="translate(0 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(0 12)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7 12)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14 12)"/></svg>
        <svg class="svg2"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.849 14.849"><defs><style>.a2{fill:red;}</style></defs><g transform="translate(7.778 -5.657) rotate(45)"><rect class="a2" width="18" height="3" rx="1.5" transform="translate(0 8)"/><rect class="a2" width="18" height="3" rx="1.5" transform="translate(10.5 0.5) rotate(90)"/></g></svg>
        </div>
    </div>

    <div class="blocFilm col-12">
        <div class="imgFilm"></div>
        <div class="blocInfoFilm">
            <h2>Captain America : First Avengers</h2>
            <p>2H04</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16"><defs><style>.a{fill:#d8d8d8;}</style></defs><circle class="a" cx="2" cy="2" r="2"/><circle class="a" cx="2" cy="2" r="2" transform="translate(0 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(0 12)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7 12)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14 12)"/></svg>
        <svg class="svg2"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.849 14.849"><defs><style>.a2{fill:red;}</style></defs><g transform="translate(7.778 -5.657) rotate(45)"><rect class="a2" width="18" height="3" rx="1.5" transform="translate(0 8)"/><rect class="a2" width="18" height="3" rx="1.5" transform="translate(10.5 0.5) rotate(90)"/></g></svg>
        </div>
    </div>

    <div class="blocFilm col-12">
        <div class="imgFilm"></div>
        <div class="blocInfoFilm">
            <h2>Captain America : First Avengers</h2>
            <p>2H04</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16"><defs><style>.a{fill:#d8d8d8;}</style></defs><circle class="a" cx="2" cy="2" r="2"/><circle class="a" cx="2" cy="2" r="2" transform="translate(0 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(0 12)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(7 12)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14 6)"/><circle class="a" cx="2" cy="2" r="2" transform="translate(14 12)"/></svg>
        <svg class="svg2"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.849 14.849"><defs><style>.a2{fill:red;}</style></defs><g transform="translate(7.778 -5.657) rotate(45)"><rect class="a2" width="18" height="3" rx="1.5" transform="translate(0 8)"/><rect class="a2" width="18" height="3" rx="1.5" transform="translate(10.5 0.5) rotate(90)"/></g></svg>
        </div>
    </div>


    <br>
    <br>
    <br>
        <a href="{{path("ficheMarathon")}}">
            <button class="step2">Enregistrer</button>
        </a>
        <br>
        <br>
        <br>
        <br>
    
    <!-- Body Page -->
{% endblock %}

{% block javascripts %}
    <!-- Jss Page -->
{% endblock %}