{% extends 'base.html.twig' %}
{% block title %}Menu{% endblock %}

{% block meta %}
    <!-- Meta Page -->
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
        <div class="navTopReturn">
        <a href="{{path('marathons') }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.04 17.496"><defs><style>.a21{fill:#fff;}</style></defs><g transform="translate(0.408 0)"><path class="a21" d="M8.071,17.056-.4,8.582a.014.014,0,0,1,0-.01.014.014,0,0,1,0-.01L1.707,6.449h0L7.718.439A1.5,1.5,0,0,1,9.839,2.561l-6.01,6.01,6.364,6.364a1.5,1.5,0,1,1-2.121,2.121Z"/></g></svg>
        </a>
        <h1>Les marathons</h1>
        <a href="{{path('marathons')}}">
            <svg class="svg-18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.849 14.849"><defs><style>.a22{fill:#fff;}</style></defs><g transform="translate(7.778 -5.657) rotate(45)"><rect class="a22" width="18" height="3" rx="1.5" transform="translate(0 8)"/><rect class="a22" width="18" height="3" rx="1.5" transform="translate(10.5 0.5) rotate(90)"/></g></svg>    </div>
        </a>
    <div class="cale"></div>
<div class="background">
    <div class="conteneur-addFilm">
    <br>
    <br>
    <br>
    <a href="{{ path('searchMarathonNoRes') }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.019 19.019"><defs><style>.a15{fill:none;stroke:black;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g transform="translate(1 1)"><circle class="a15" cx="6.5" cy="6.5" r="6.5"/><path class="a15" d="M.5.5,7.019,7.019" transform="translate(11 10)"/></g></svg>
    </a>
    <br>
    <br>
    <br>
        <hr>
    <br>
    <br>
    <br>
    <br>

    <div class="bloc-white">
        <div class="filmPicture col-5 blocSearchFilm">
            <p>Jurassic Park World</p>
        </div>

        <div class="filmPicture col-5 blocSearchFilm">
            <p>Jurassic Adventure</p>
        </div>
    </div>

    </div>

<div class="col-12 blocListFilm">

        <div class="blocFilm blocSpeFilm col-12">
            <div class="imgFilm">
            </div>
                <div class="blocInfoFilm blocSearchFilm">
                    <h2>Jurassic Park</h2>
                        <p>2H04</p>
                </div>
                </div>

        <div class="blocFilm col-12">
            <div class="imgFilm">
            </div>
                <div class="blocInfoFilm blocSearchFilm">
                    <h2>Jurassic Park 2</h2>
                        <p>2H04</p>
                </div>
            </div>

        <div class="blocFilm col-12">
            <div class="imgFilm">
            </div>
                <div class="blocInfoFilm blocSearchFilm">
                    <h2>Jurassic Park 2</h2>
                        <p>2H04</p>
                </div>
                </div>

        <div class="blocFilm col-12">
            <div class="imgFilm">
            </div>
                <div class="blocInfoFilm blocSearchFilm">
                    <h2>Jurassic Park 2</h2>
                        <p>2H04</p>
                </div>
                </div>

        <div class="blocFilm col-12">
            <div class="imgFilm">
            </div>
                <div class="blocInfoFilm blocSearchFilm">
                    <h2>Jurassic Park 2</h2>
                        <p>2H04</p>
                </div>
                </div>
        </div>
    <!-- Body Page -->
{% endblock %}

{% block javascripts %}
    <!-- Js Page -->
{% endblock %}