{% extends 'base.html.twig' %}
{% block title %}Menu{% endblock %}

{% block meta %}
    <!-- Meta Page -->
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
        <div class="navTopReturn">
        <a href="{{path('marathons') }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.04 17.496"><defs><style>.a21{fill:#fff;}</style></defs><g transform="translate(0.408 0)"><path class="a21" d="M8.071,17.056-.4,8.582a.014.014,0,0,1,0-.01.014.014,0,0,1,0-.01L1.707,6.449h0L7.718.439A1.5,1.5,0,0,1,9.839,2.561l-6.01,6.01,6.364,6.364a1.5,1.5,0,1,1-2.121,2.121Z"/></g></svg>
        </a>
        <h1>Les marathons</h1>
        <a href="{{path('marathons')}}">
            <svg class="svg-18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.849 14.849"><defs><style>.a22{fill:#fff;}</style></defs><g transform="translate(7.778 -5.657) rotate(45)"><rect class="a22" width="18" height="3" rx="1.5" transform="translate(0 8)"/><rect class="a22" width="18" height="3" rx="1.5" transform="translate(10.5 0.5) rotate(90)"/></g></svg>    </div>
        </a>
    <div class="cale"></div>
<div class="background">
    <div class="conteneur-addFilm">
    <br>
    <br>
    <br>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.019 19.019"><defs><style>.a15{fill:none;stroke:black;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g transform="translate(1 1)"><circle class="a15" cx="6.5" cy="6.5" r="6.5"/><path class="a15" d="M.5.5,7.019,7.019" transform="translate(11 10)"/></g></svg>
    <br>
    <br>
    <br>
        <hr>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p class="textNoResult"><i>Aucun résultat pour "jurrasio". <br> Peut-être que cela pourrait vous intéresser :</i></p>

    <br>
    <br>
    <br>
        <div class="blocSuggestSearch">
            
            <div class="cardMara card1 col-6">
            <p class="titleMara">Avengers Chronologie</p>
            </div>

            <div class="cardMara card2 col-6">
            <p class="titleMara">Avengers Chronologie</p>
            </div>
            <br>

            <div class="cardMara card1 col-6">
            <p class="titleMara">Avengers Chronologie</p>
            </div>

            <div class="cardMara card2 col-6">
            <p class="titleMara">Avengers Chronologie</p>
            </div>
            <br>

            <div class="cardMara card1 col-6">
            <p class="titleMara">Avengers Chronologie</p>
            </div>

            <div class="cardMara card2 col-6">
            <p class="titleMara">Avengers Chronologie</p>
            </div>
            <br>

            <div class="cardMara card1 col-6">
            <p class="titleMara">Avengers Chronologie</p>
            </div>

            <div class="cardMara card2 col-6">
            <p class="titleMara">Avengers Chronologie</p>
            </div>
            <br>

        </div>

        <div class="blocAjoutFilm voirPlus"><p>Voir plus</p>
            <svg class="svg-18"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31"><defs><style>.a{fill:#fbb03b;}</style></defs><path class="a" d="M15.5,31A15.5,15.5,0,0,1,4.54,4.54,15.5,15.5,0,0,1,26.46,26.46,15.4,15.4,0,0,1,15.5,31ZM4,12.461v5.077h8.462V26h5.077V17.538H26V12.461H17.538V4H12.461v8.462Z"/></svg>
        </div>
        <br>
    </div>
</div>
    <!-- Body Page -->
{% endblock %}

{% block javascripts %}
    <!-- Js Page -->
{% endblock %}